.idea/*
cmake-build-debug/*
docs/__MACOSX/Project2Graphs/Real-World-Graphs/*
docs/Project2Graphs/Real-World-Graphs/*
docs/Project2Graphs/Extra_Fully_Connected_Graphs/*
docs/__MACOSX/Project2Graphs/Extra_Fully_Connected_Graphs/*

docs/Project2Graphs/__MACOSX/Extra_Fully_Connected_Graphs
